.sprite-sprite, .sprite-access_management_ic, .sprite-authentication_logic_ic, .sprite-blue_click_icon, .sprite-dark_blue_click_icon, .sprite-dedicated_server_ic, .sprite-directory_integration_ic, .sprite-double_gt, .sprite-enlarge_icon, .sprite-green_click_icon, .sprite-list_round_bg, .sprite-magnifying_glass, .sprite-marker_bg, .sprite-no_icon, .sprite-open_quotemark, .sprite-orange_click_icon, .sprite-pointer, .sprite-premise_cloud_ic, .sprite-services_build, .sprite-services_design, .sprite-services_operate, .sprite-services_transfer, .sprite-single_sign_on_ic, .sprite-team_bgimg, .sprite-team_breakerbg, .sprite-team_email, .sprite-team_in, .sprite-team_twitter, .sprite-yes_icon, .sprite-yes_round_icon, .gt-icon {
  background: url('../images/sprite-sb729cdb28f.png') no-repeat;
}

.sprite-access_management_ic {
  background-position: 0 -51px;
}

.sprite-authentication_logic_ic {
  background-position: 0 0;
}

.sprite-blue_click_icon {
  background-position: 0 -304px;
}

.sprite-dark_blue_click_icon {
  background-position: 0 -368px;
}

.sprite-dedicated_server_ic {
  background-position: 0 -197px;
}

.sprite-directory_integration_ic {
  background-position: 0 -138px;
}

.sprite-double_gt {
  background-position: 0 -859px;
}

.sprite-enlarge_icon {
  background-position: 0 -825px;
}

.sprite-green_click_icon {
  background-position: 0 -388px;
}

.sprite-list_round_bg {
  background-position: 0 -799px;
}

.sprite-magnifying_glass {
  background-position: 0 -901px;
}

.sprite-marker_bg {
  background-position: 0 -745px;
}

.sprite-no_icon {
  background-position: 0 -729px;
}

.sprite-open_quotemark {
  background-position: 0 -842px;
}

.sprite-orange_click_icon {
  background-position: 0 -348px;
}

.sprite-pointer {
  background-position: 0 -917px;
}

.sprite-premise_cloud_ic {
  background-position: 0 -99px;
}

.sprite-services_build {
  background-position: 0 -677px;
}

.sprite-services_design {
  background-position: 0 -703px;
}

.sprite-services_operate {
  background-position: 0 -651px;
}

.sprite-services_transfer {
  background-position: 0 -877px;
}

.sprite-single_sign_on_ic {
  background-position: 0 -246px;
}

.sprite-team_bgimg {
  background-position: 0 -432px;
}

.sprite-team_breakerbg {
  background-position: 0 -781px;
}

.sprite-team_email {
  background-position: 0 -609px;
}

.sprite-team_in {
  background-position: 0 -324px;
}

.sprite-team_twitter {
  background-position: 0 -408px;
}

.sprite-yes_icon {
  background-position: 0 -633px;
}

.sprite-yes_round_icon {
  background-position: 0 -788px;
}

.services-nav-wrapper a {
  -webkit-box-shadow: black 0px 0px 4px;
  -moz-box-shadow: black 0px 0px 4px;
  box-shadow: black 0px 0px 4px;
}

.banner-content-inner h3 {
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 3px 0;
}

.question-list, .search_list {
  margin-left: 0;
}
.question-list li, .search_list li {
  padding-left: 14px;
  background: url('../images/search-list-icon.png?1375767440') no-repeat 0px 2px;
  list-style-type: none;
}

.search-results .question-list {
  margin-left: 0;
}
.search-results .question-list li {
  padding-left: 14px;
  background: url('../images/question_bullet.png?1375982288') no-repeat -1.5px 1px;
  list-style-type: none;
}

.question-list li, .search_list li, .search-results .question-list li {
  padding-left: 25px;
}

.dk-sidebar ul {
  margin-left: 0;
}
.dk-sidebar ul li {
  padding-left: 14px;
  background: url('../images/grays_bullit.png?1375814600') no-repeat 3.5px 5.5px;
  list-style-type: none;
}

.dk-sidebar li {
  padding-left: 21px !important;
}

.dk-sidebar a, .search_list a, .question-list a, .center-inner a {
  color: #115b87;
}
.dk-sidebar a:link, .search_list a:link, .question-list a:link, .center-inner a:link {
  color: #115b87;
}
.dk-sidebar a:hover, .search_list a:hover, .question-list a:hover, .center-inner a:hover {
  text-decoration: underline;
}
.dk-sidebar a:visited, .search_list a:visited, .question-list a:visited, .center-inner a:visited {
  color: #115b87;
}
.dk-sidebar a:hover, .search_list a:hover, .question-list a:hover, .center-inner a:hover {
  color: #115b87;
}
.dk-sidebar a:active, .search_list a:active, .question-list a:active, .center-inner a:active {
  color: #115b87;
}

.search-results .question-list a {
  color: #666666;
}
.search-results .question-list a:link {
  color: #666666;
}
.search-results .question-list a:hover {
  text-decoration: underline;
}
.search-results .question-list a:visited {
  color: #666666;
}
.search-results .question-list a:hover {
  color: #666666;
}
.search-results .question-list a:active {
  color: #666666;
}

.dk-inner {
  padding: 0;
}
.dk-inner .dk-search {
  background-color: #f9f8f8;
  border: solid 1px #e3e0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 24px;
}
.dk-inner .dk-search form {
  padding: 40px 0px 40px 40px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.dk-inner .dk-search form input.question-search {
  background: url('../images/search-icon.png?1375771028') no-repeat 8px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 4px 4px 4px 35px;
  height: 29px !important;
  width: 80%;
  float: left;
  margin-right: 11px;
  font-size: 12px;
  color: #666;
}
.dk-inner .dk-search form .submit-question-search {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxYzg3YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhYjI2YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #21c87a), color-stop(100%, #1ab26b));
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -webkit-linear-gradient(#21c87a, #1ab26b);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -moz-linear-gradient(#21c87a, #1ab26b);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -o-linear-gradient(#21c87a, #1ab26b);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, linear-gradient(#21c87a, #1ab26b);
  -webkit-box-shadow: rgba(43, 43, 43, 0.4) 1px 2px 2px;
  -moz-box-shadow: rgba(43, 43, 43, 0.4) 1px 2px 2px;
  box-shadow: rgba(43, 43, 43, 0.4) 1px 2px 2px;
  border: 1px solid #12a35f;
  color: #fff;
  padding: 13px 38px 13px 13px;
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: none;
  float: none;
  height: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.dk-inner .dk-search form .submit-question-search:hover {
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxYzg3YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE3OTk1YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #21c87a), color-stop(100%, #17995c));
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -webkit-linear-gradient(#21c87a, #17995c);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -moz-linear-gradient(#21c87a, #17995c);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -o-linear-gradient(#21c87a, #17995c);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, linear-gradient(#21c87a, #17995c);
}
.dk-inner .dk-search form .submit-question-search:active {
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3OTk1YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxYzg3YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #17995c), color-stop(100%, #21c87a));
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -webkit-linear-gradient(#17995c, #21c87a);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -moz-linear-gradient(#17995c, #21c87a);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, -o-linear-gradient(#17995c, #21c87a);
  background: url('../images/magnifying_glass.png?1375808004') no-repeat 71px 10px, linear-gradient(#17995c, #21c87a);
}
.dk-inner .dk-content .dk-widget {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.sign-in-up {
  text-align: right;
}

.search-results {
  background-color: #f9f8f8;
  border: solid 1px #e3e0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.center {
  background-color: #f2f2f2;
  border: solid 1px #e3e0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.search-results .span12 {
  padding: 40px 0px 40px 40px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.center {
  max-width: 330px;
  margin: 77px auto 0 auto;
}

.center-inner {
  padding: 22px 25px 18px 24px;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.center-inner p, .center-inner a {
  font-size: 14px;
}

.center-inner p {
  margin-bottom: 16px;
}

.dk-widget h3 em {
  font-size: 22px;
}

#multiColumn h4, .dk-widget h3 {
  line-height: 1em;
  border-bottom: 1px solid #ccc;
  margin: 0 !important;
  padding-top: 61px;
  padding-bottom: 13px;
  overflow: hidden;
  font-size: 22px;
  color: #525252;
}

#multiColumn h4 a, .dk-widget h3 a {
  color: #525252;
  font-size: 22px;
}
#multiColumn h4 a:hover, .dk-widget h3 a:hover {
  text-decoration: underline;
}
#multiColumn h4 a:visited, .dk-widget h3 a:visited {
  color: #525252;
}
#multiColumn h4 a:hover, .dk-widget h3 a:hover {
  color: #525252;
}
#multiColumn h4 a:active, .dk-widget h3 a:active {
  color: #525252;
}

.gt-icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 12px;
  height: 18px;
  background-position: 0 -859px;
  background-repeat: no-repeat;
  margin-left: 7px;
  margin-top: -4px;
}
