{% load i18n gluukb_tags %}


{% for category in categories %}
    {% if  forloop.first %}
        <div  class="row-fluid">
    {% endif %}
    <div id="multiColumn" class="span6">
        <ul>
            <li>
                <h4><a href="{% url 'knowledge_list_category' category.slug %}">{{ category.title }}
                    ({{ category.num_questions }})</a></h4>
                <ol class="question-list">
                    {% for question in questions|in_category:category|slice:":4" %}

                            <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a>&nbsp;
                                {% if not question.get_responses %}
                                    <span class="dk-label dk-label-important">{% trans "no responses" %}</span>
                                    {% else %}<span
                                            class="dk-label">{{ question.get_responses|length }}&nbsp;responses</span>{% endif %}
                                &nbsp;
                            {% if question.accepted %}<span class="dk-label dk-label-warning">{% trans "accepted" %}
                                </span>
                                &nbsp;{% endif %} {% if question.user.is_staff %}
                                    <span class="dk-label dk-label-success">
                                {% trans "staff" %}</span>&nbsp;{% endif %}
                                <small class="quiet">by {{ question.get_name }}</small>
                            </li>
                    {% endfor %}
                </ol>
            </li>
        </ul>
    </div>
    {% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div><div  class="row-fluid">
    {% endif %}
    {% if forloop.last %}
        </div>
    {% endif %}
{% endfor %}

